* {
    font-family: var(--font-family-heading);
}


:root {
    --font-family-body: "Fira Mono";
    --font-family-heading: "Marcellus";
    --font-size-xl:  80px;
    --font-size-large: 50px;
    --font-size-body-copy: 26px;
  
    --font-size-small: 14px;
    --font-size-xs: 10px;

    --central-white: #F7F6F6;
    --central-light: ##f8efea;
    --central-warm-grey: #CBC3BAff;
    --central-light-grey: #E1DEDCff;
    --central-grey: #BBB7B2ff;
    --central-medium-grey:#C0BDB9;
    --central-dark-grey: #77766F;
    --central-pewter:#514E49;
    --central-charcoal: #444142;
    --central-black: #292826ff;
    --central-brick: #8C624E;
    --central-light-brown: #9C6E4Dff;
    --central-olive: #848672ff;
    --central-forest: #4F564B;

    --icon-color: var(--central-black);
}
.h1, .h2,.h3, .h4, .h5 {
  font-family: var(--font-family-heading);
}



.h1 {
  font-size: var(--font-size-xl);
}

.h2 {
  font-size: var(--font-size-large);
}


section {
  padding-right: var(--grid-padding);
  padding-left: var(--grid-padding);
}

:root {
  --grid-width: 100vw;
  --grid-height: 100vh;
  --grid-padding: 5.4vw;
  --grid-column-count: 6;
  --grid-gutter:  1.6rem;
}

@media only screen and (min-width: 1280px) {
  :root {
      --grid-padding: 3rem;
      --grid-column-count: 12;
      --grid-gutter: 2rem;
      --page-intro-small:4.1vw;
      --page-section: 12.5vw;
       
  }
}
.button {
    position: relative;
    display: inline-block;
    cursor: pointer;


}
  
  .button button {
    padding: 8px 16px;
    border: none;
    background: none;
    outline: none;
    text-transform: uppercase;
    font-size: var(--font-size-xs);
    letter-spacing: 1.5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .button svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .button path {
    stroke: var(--central-olive);
    stroke-width: 8px;
    stroke-dasharray: 0 1500;
    /* animation: drawReverse 1s backwards; */
  }
  
  .button:hover path {
    animation: draw 1s forwards;
  }
  
  @keyframes draw {
    from {
      stroke-dasharray: 0 1500;
    }
  
    to {
      stroke-dasharray: 1500 1500;
    }
  }

  
  @keyframes drawReverse {
    from {
      stroke-dasharray: 1500 1500;
    }
  
    to {
      stroke-dasharray: 0 1500;
    }
  }
