* {
    font-family: var(--font-family-heading);
}

header {
  z-index: 100;
}

:root {
    --font-family-body: "Fira Mono";
    --font-family-heading: "Marcellus";

    --central-white: #F7F6F6;
    --central-light: ##f8efea;
    --central-warm-grey: #CBC3BAff;
    --central-light-grey: #E1DEDCff;
    --central-grey: #BBB7B2ff;
    --central-medium-grey:#C0BDB9;
    --central-dark-grey: #77766F;
    --central-pewter:#514E49;
    --central-charcoal: #444142;
    --central-black: #292826ff;
    --central-brick: #8C624E;
    --central-light-brown: #9C6E4Dff;
    --central-olive: #848672ff;
    --central-forest: #4F564B;

    --icon-color: var(--central-black);
}

body {
  background-color: var(--central-white);
}

:root {
  --font-size-xl:  80px;
  --font-size-large: 50px;
  --font-size-body-copy: 15px;

  --font-size-small: 14px;
  --font-size-xs: 10px;
  
  --logo-height: 34px;
  --nav-margin-top: 1.5rem;
  --nav-margin-bottom: 1.5rem;
  --header-height: calc(var(--logo-height) + var(--nav-margin-top) + var(--nav-margin-bottom));

  --section-padding-small: 3rem;
}
.h1, .h2,.h3, .h4, .h5 {
  font-family: var(--font-family-heading);
}


.h1 {
  font-size: var(--font-size-xl);
}

.h2 {
  font-size: var(--font-size-large);
  line-height: var(--font-size-large);
}


section {
  padding-right: var(--grid-padding);
  padding-left: var(--grid-padding);
}

:root {
  --grid-width: 100vw;
  --grid-height: 100vh;
  --grid-padding: 6vw;
  --grid-column-count: 6;
  --grid-gutter:  1.6rem;
}

@media only screen and (min-width: 1280px) {
  :root {
      --grid-padding: 3rem;
      --grid-column-count: 12;
      --grid-gutter: 2rem;
      --page-intro-small:4.1vw;
      --page-section: 12.5vw;
       
  }
}




